body {
    font-family: 'MS Gothic';
    width: 1000px;
    margin: 0 auto;
    margin-top: 5px;
    padding: 0 20px 20px 20px;
}

.post {
    width: 800px;
    height: 800px;
    background-color: bisque;
}